<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Renato Galvão">
  <title>Teste Desenvolvedor Front-end</title>

  <link href="/static/css/spritesheet.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/home.css" rel="stylesheet" type="text/css" />

  <!--[if lt IE 9]>
    <script src="/static/js/vendor/html5shiv-printshiv.min.js"></script>
  <![endif]-->
</head>
<body>
  <header class="header"></header>
  <footer class="footer"></footer>
  <section class="chat">
    <header class="chat-header">
      Vaga: Desenvolvedor Front-end
      <div class="chat-control">
        <span class="icon icon-minimize dib"></span>
        <span class="icon icon-close dib"></span>
      </div>
    </header>
    <div class="chat-wrapper">
      <div class="chat-body">
        <div class="chat-messages">
          <ul></ul>
        </div>
      </div>
      <div class="chat-write">
        <textarea name="" id="" cols="30" rows="5" placeholder="Digite aqui sua mensagem..."></textarea>
      </div>
    </div>
  </section>

  <script src="/static/js/vendor/jquery-1.11.3.min.js"></script>
  <script src="/static/js/vendor/jquery.placeholder.min.js"></script>
  <script type="text/javascript" src="/static/js/home.js"></script>
</body>
</html>
